.main 
  .main__Header
    .main__Header--Box
      %ul.lists
        -# %li.list
        -#   =link_to "" do
        -#     新規登録
        -#     =icon('fas', 'pen')
        %li.list
          =link_to new_group_path do
            チーム作成
            =icon('fas', 'users')
        %li.list
          =link_to members_path do
            チーム一覧
            =icon('fas', 'clipboard-list')
        -# %li.list
        -#   =link_to "" do
        -#     ログアウト
        -#     =icon('fas', 'sign-out-alt')
  .main__Contents
    .main__Contents--Container
      %h1 2020年8月
      %table{:border => 1, :width => "100%", :height => "95%"}
        %tr.month
          %th.week
            日
          %th.week
            月
          %th.week
            火
          %th.week
            水
          %th.week
            木
          %th.week
            金
          %th.week
            土
        %tr
          %td.day
            .dayBox
              .Date__heat
                36.5
          %td.day
            .dayBox
              .Date__heat
                36.5
          %td.day 
            .dayBox
              .Date__heat
                36.5
          %td.day 
            .dayBox
              .Date__heat
                36.5
          %td.day 
            .dayBox
              .Date__heat
                36.5
          %td.day 
            .dayBox
              .Date__heat
                36.5
          %td.day
            1
            .dayBox
              .Date__heat
                36.5
        %tr
          %td.day
            2
            .dayBox
              .Date__heat
                36.5
          %td.day
            3
            .dayBox
              .Date__heat
                36.5
          %td.day
            4
            .dayBox
              .Date__heat
                36.5
          %td.day
            5
            .dayBox
              .Date__heat
                36.5
          %td.day
            6
            .dayBox
              .Date__heat
                36.5
          %td.day
            7
            .dayBox
              .Date__heat
                36.5
          %td.day
            8
            .dayBox
              .Date__heat
                36.5
        %tr
          %td.day
            9
            .dayBox
              .Date__heat
                36.5
          %td.day
            10
            .dayBox
              .Date__heat
                36.5
          %td.day
            11
            .dayBox
              .Date__heat
                36.5
          %td.day
            12
            .dayBox
              .Date__heat
                36.5
          %td.day
            13
            .dayBox
              .Date__heat
                36.5
          %td.day
            14
            .dayBox
              .Date__heat
                36.5
          %td.day
            15
            .dayBox
              .Date__heat
                36.5
        %tr
          %td.day
            16
            .dayBox
              .Date__heat
                36.5
          %td.day
            17
            .dayBox
              .Date__heat
                36.5
          %td.day
            18
            .dayBox
              .Date__heat
                36.5
          %td.day
            19
            .dayBox
              .Date__heat
                36.5
          %td.day
            20
            .dayBox
              .Date__heat
                36.5
          %td.day
            21
            .dayBox
              .Date__heat
                36.5
          %td.day
            22
            .dayBox
              .Date__heat
                36.5
        %tr
          %td.day
            23
            .dayBox
              .Date__heat
                36.5
          %td.day
            24
            .dayBox
              .Date__heat
                36.5
          %td.day
            25
            .dayBox
              .Date__heat
                36.5
          %td.day
            26
            .dayBox
              .Date__heat
                36.5
          %td.day
            27
            .dayBox
              .Date__heat
                36.5
          %td.day
            28
            .dayBox
              .Date__heat
                36.5
          %td.day
            29
            .dayBox
              .Date__heat
                36.5
        %tr
          %td.day
            30
            .dayBox
              .Date__heat
                36.5
          %td.day
            .dayBox
              .Date__heat
                36.5
          %td.day 
            .dayBox
              .Date__heat
                36.5
          %td.day 
            .dayBox
              .Date__heat
                36.5
          %td.day 
            .dayBox
              .Date__heat
                36.5
          %td.day 
            .dayBox
              .Date__heat
                36.5
          %td.day 
            34
            .dayBox
              .Date__heat
                36.5
                -# -# .Date__symptom
                -# -#   有
                -# .Date__textarea
                -# ああああああ
           