.side
  .side__Header
    .side__Header--Box
      %ul.list
        %li.list__list-icon
          =link_to edit_user_path(current_user) do
            = icon('fas', 'user-edit')
      %span.name
        = icon('fas', 'user-circle')
        =current_user.name
       
  .side__Contents
    -# - current_user.groups.each do |group|
    -#   .Group
    -#     = link_to '#' do
    -#       .Group__name
    -#         = group.name
    .side__Contents--Box
  .side__Footer
    = form_with model: [@group, @message], html: {class: "Form"}, local: true do |f|
      -# .Form__contents
      -#   = f.text_field :content, class: 'Form__inputContent', placeholder: 'type a message'
      -# = f.submit 'Send', class: 'Form__submit'
    -# %form.Form
    -#   .Form__Heat
    -#     %span.heat
    -#     体温
    -#     %select.Field{:name => "ondo",required:""}
    -#       %option{:value => ""} - - - - - -
    -#       %option{:value => "1",}  36.4以下
    -#       %option{:value => "2",}  36.5
    -#       %option{:value => "3"}  36.6
    -#       %option{:value => "4"}  36.7
    -#       %option{:value => "5"}  36.8
    -#       %option{:value => "6"}  36.9
    -#       %option{:value => "7"}  37.0
    -#       %option{:value => "8"}  37.1
    -#       %option{:value => "9"}  37.2
    -#       %option{:value => "10"}  37.3
    -#       %option{:value => "11"}  37.4
    -#       %option{:value => "12"}  37.5
    -#       %option{:value => "13"}  37.6
    -#       %option{:value => "14"}  37.7
    -#       %option{:value => "15"}  37.8
    -#       %option{:value => "16"}  37.9
    -#       %option{:value => "17"}  38.0
    -#       %option{:value => "18"} 38.1
    -#       %option{:value => "19"} 38.2
    -#       %option{:value => "20"} 38.3
    -#       %option{:value => "21"} 38.4
    -#       %option{:value => "22"} 38.5
    -#       %option{:value => "23"} 38.6以上  
    -#   .Form__Symptom
    -#     %span.symptom
    -#     症状
    -#     .Form__Symptom--Box
    -#       %input.Form__radio--button{type: "radio", name:"symptom", value: "1", required: ""} 有
    -#       %input.Form__radio--button{type: "radio",name:"symptom", value: "2"} 無
    -#       %span 入力必須
    -#   .Form__Textarea
    -#     %span.textarea
    -#     症状詳細
    -#     %textarea.Form__textContent{type: "textarea"}
    -#   %button.Form__submit{type: "submit"}
    -#     送信