.wrapper
  .side
    .side__Header
      .side__Header--Box
        %ul.list
          %li.list__list-icon
            =link_to "" do
              = icon('fas', 'user-edit')
        %span.name
          -# =current_user.name
          = icon('fas', 'user-circle')
          熊谷直樹
       
    .side__Contents
      .side__Contents--Box
    .side__Footer
      %form.Form
        %ul.lists
          %li.lists__list
            体温
            %select.Field{:name => "ondo"}
              %option{:value => "0"}  - - - - - -
              %option{:value => "1"}  36.4以下
              %option{:value => "2"}  36.5
              %option{:value => "3"}  36.6
              %option{:value => "4"}  36.7
              %option{:value => "5"}  36.8
              %option{:value => "6"}  36.9
              %option{:value => "7"}  37.0
              %option{:value => "8"}  37.1
              %option{:value => "9"}  37.2
              %option{:value => "10"}  37.3
              %option{:value => "11"}  37.4
              %option{:value => "12"}  37.5
              %option{:value => "13"}  37.6
              %option{:value => "14"}  37.7
              %option{:value => "15"}  37.8
              %option{:value => "16"}  37.9
              %option{:value => "17"}  38.0
              %option{:value => "18"} 38.1
              %option{:value => "19"} 38.2
              %option{:value => "20"} 38.3
              %option{:value => "21"} 38.4
              %option{:value => "22"} 38.5
              %option{:value => "23"} 38.6以上
          %li.lists__list
            症状
            %input.Form__radio--butto{type: "radio"} 有
            %input.Form__radio--butto{type: "radio"} 無
          %li.lists__list
            症状詳細
            %textarea.Form__textContent{type: "textarea"}
          %li.lists__list
            %button.Form__submit{type: "submit"}
              送信
  .main 
    .main__Header
      .main__Header--Box
        %ul.lists
          %li.list
            =link_to "" do
              チーム作成
              =icon('fas', 'users')
          %li.list
            =link_to "" do
              チーム一覧
              =icon('fas', 'clipboard-list')
          %li.list
            =link_to "" do
              ログアウト
              =icon('fas', 'sign-out-alt')
    .main__Contents
      .main__Content


-# %form.Form
-#           %input.Form__inputContent{type: "text"}
-#           体温
-#           %input.Form__inputContent{type: "text"}
-#           症状
-#           %input.Form__inputContent{type: "text"}
-#           症状詳細
-#           %button.Form__submit{type: "submit"}
-#             送信