* {
  box-sizing: border-box;
}

.wrapper{
  display: flex;
  height: 100vh;
  a{
    text-decoration: none;
  }
} 
  .side{
    width: 300px;
    background-color: #ffff80;
    &__Header{
      height: 80px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      border-bottom: 1px solid #eeeeee;
      &--Box{
        height: 70px;
        width: 200px;
        background-color: #ffff80;
        margin-top: 0px;
        margin-left: 10px;
        // display: flex;
        justify-content: space-between;
        .name{
          // font-weight: bold;
          color: 	#808080;
          font-size: 20px;
          padding-top: 5px;
          margin-left: 10px;
        }
        .list{
          font-size: 23px;
          padding-bottom: 5px;
          margin-left: 10px;
          a{
            color: 	#666666;
          }
        }
      }
    }
    &__Contents{
      height:  calc(100vh - 380px);
      background-color: gray;
      box-sizing: border-box;
    }
    &__Footer{
      height: 300px;
        .Form{
          height: 280px;
          width: 280px;
          background-color: ivory;
          margin-top: 10px;
          margin-left: 10px;
          .lists{
            flex-direction: column;
            padding-top: 15px;
            &__list{
              margin-top: 15px;
              margin-left: 10px;
              font-size: 18px;
              align-items: center;
              .Field{
              height: 30px;
              width: 90px;
              font-size: 15px;
              margin-left: 20px;
              }
              .Form__radio--butto{
                margin-left: 20px;
                font-size: 10px;
              }
              .Form__textContent{
                height: 80px;
                font-size: 20px;
              }
              .Form__submit{
                // padding-left: 10px;
                width: 150px;
              }
            }
         }
        }
      }
    }
  .main{
    background-color: #ffff80;
    width: calc(100vw - 300px);
    &__Header{
      height: 80px;
      border-bottom: 1px solid #eeeeee;
      display: flex;
      justify-content: space-between;
      &--Box{
        height: 40px;
        width: 700px;
        background-color: #ffff80;
        margin-top: 33px;
        padding-right: 10px;
        padding-left: 20px;
        // display: flex;
        // justify-content: space-between;
        .lists{
          display: flex;
          font-weight: bold;
          justify-content: space-around;
          list-style: none;
          margin-top: 5px;
          .list{
            font-size: 20px;
            text-align: center;
            padding: 5px 5px;
            a{
              color: 	#666666;
            }
          }
        }
      }
    }
    &__Contents{
      height: calc(100vh - 80px);
      background-color: #ffffcc;
      padding: 46px 40px 0;
    }
  }  